# Ignora el folder del entorno virtual.
.conda

# Ignora las subcarpetas con nombre "__pycache__".
**/__pycache__

# Ignora la carpeta en la cual se guardan las capturas.
shots

# Ignora la carpeta de YOLO: "runs".
runs

# Ignora la carpeta con los videos de prueba.
video_samples
photo_samples

# Ignora los modelos "NCNN".
**/TRAIN_[0-9]*_BEST.torchscript
**/TRAIN_[0-9]*_BEST_ncnn_model